<!DOCTYPE html>
<html lang= "es">
<head>
	<meta charset="UTF-8">

	<title>Me doy maña</title>
	<!-- CDN de Boostrap 4.0 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Hoja de estilos personalizada -->
  <link rel="stylesheet" href="..\static\css\styles.css">
</head>

<body>
	<header>
		<nav class="navbar navbar-light nav-bar-own">
			<a class="navbar-brand" href="#">Navbar</a>
			
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="email" placeholder="Correo electrónico" aria-label="Correo electrónico">
				<input class="form-control mr-sm-2" type="password" placeholder="Contraseña" aria-label="Contraseña">
				<button class="btn btn-transparent text-white my-2 my-sm-0 btn-nav" type="Iniciar Sesión">Iniciar Sesión</button> 
			</form>

      <div class="container" align="right">
        <p>¿Olvidaste tu contraseña?</p>
      </div>
    </nav>
  </header>


  <section>
    <article class="container">
      <h1>Crear una cuenta</h1>
      <video>Video</video>
    </article>

    <article>
      <form>
        <div class="form-row">

          <div class="form-group col-md-3">
            <input type="Nombre" class="form-control form-element-color" id="inputname" placeholder="Nombre">
          </div>

          <div class="form-group col-md-3">
            <input type="Apellido" class="form-control form-element-color" id="inputapellido" placeholder="Apellido">
          </div>
        </div>

        <div class="form-group col-md-5">
          <input type="doc" class="form-control form-element-color" id="inputdoc" placeholder="Documento de identidad">
        </div>

        <div class="form-group">
          <input type="Correo" class="form-control form-element-color" id="inpucorreo" placeholder="Correo electrónico">
        </div>


        <div class="form-group">
          <input type="cel" class="form-control form-element-color" id="inputcel" placeholder="Celular">
        </div>
        
        <div class="form-group">
          <input type="cont" class="form-control form-element-color" id="inputcont" placeholder="Contraseña">
        </div>

        <div class="form-group">
          <input type="repcont" class="form-control form-element-color" id="inputrepcont" placeholder="Repetir contraseña" style="background-color: #01abaa;">
        </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputfechnac">Fecha de nacimiento</label>
              <input type="text" class="form-control" id="inputdia" placeholder="Día" style="background-color: #01abaa;">
            </div>

            <div class="form-group col-md-3">
              <input type="text" class="form-control" id="inputmes" placeholder="Mes" style="background-color: #01abaa;"> 
            </div>

            <div class="form-group col-md-3">
              <input type="text" class="form-control" id="inputaño" placeholder="Año" style="background-color: #01abaa;">
            </div>
          </div>

          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">Acepto las condiciones y políticas del servicio.</label>
            </div>
          </div>

          <button class="btn btn-transparent text-white my-2 my-sm-0" style="background-color: #01abaa;" type="Registrarse">Registrarse</button>

        </form>
      </article>
    </section>
  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>