<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Plantilla</title>
	<link rel="stylesheet" href="..\source\bootstrap\css\bootstrap.css">
	<link rel="stylesheet" type="text/css" href="..\static\css\styles.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-light justify-content-end" style="background-color: #ffce0a;">
			<a class="navbar-brand" href="#">
				<img src="icons\navBarTwo\home.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Inicio"></a>
				<a class="navbar-logo" href="#">
					<img src="icons\navBarTwo\user.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Perfil de Usuario"></a>
					<a class="navbar-brand" href="#">
						<img src="icons\navBarTwo\rocket-to-rusia.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Salir"></a>
		</nav>
	</header>


	<section>
		<article>

		</article>

		<article>

		</article>
	</section>


	<footer>
		<section id="footer">
			<div class="container">
				<div class="row text-center">
					<div>
						<h5>Links Rapidos</h5>
						<ul class="list-unstyled">
							<li><a href="#"></a>Inicio</li>
							<li><a href="#"></a>Usuario</li>
							<li><a href="#"></a>Salir</li>
						</ul>
					</div>
					<br>
					<div>
					<h5>Redes Sociales</h5>
					<li class="list-inline-item"><a href="#"><img src="icons\footerSocialMedia\instagram-logo.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Instagram"></a>Instagram</li>
					<br>
					<li class="list-inline-item"><a href="#"><img src="icons\footerSocialMedia\at.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Instagram"></a>Mail</li>
				</div>


							</div>
							<!-- Copyright -->
							<div class="footer-copyright text-center py-3">© 2018 Copyright:
								<a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
							</div>
							<!-- Copyright -->
						</div>
					</section>
				</footer>
			</body>
			</html>