<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Plantilla</title>
	<link rel="stylesheet" href="..\source\bootstrap\css\bootstrap.css">
	<link rel="stylesheet" type="text/css" href="..\static\css\styles.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-light justify-content-end" style="background-color: #ffce0a;">
				<a class="navbar-brand" href="#">
					<img src="icons\navBarTwo\home.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Inicio"></a>
				<a class="navbar-logo" href="#">
					<img src="icons\navBarTwo\user.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Perfil de Usuario"></a>
				<a class="navbar-brand" href="#">
					<img src="icons\navBarTwo\rocket-to-rusia.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Salir"></a>
		</nav>
	</header>


	<section>
		<article>
			
		</article>

		<article>
			
		</article>
	</section>


	<footer>
		
	</footer>
</body>
</html>